[submodule "src/java-openjdk-boshrelease"]
	path = src/java-openjdk-boshrelease
	url = https://github.com/Orange-OpenSource/java-openjdk-boshrelease
[submodule "src/yardstick-hazelcast"]
	path = src/yardstick-hazelcast
	url = https://github.com/hazelcast/yardstick-hazelcast
[submodule "src/bosh-deployer"]
	path = src/broker-parent/bosh-deployer
	url = https://github.com/poblin-orange/bosh-deployer
